body {
  text-align: center;
  font-family: Helvetica;
}

.maintitle {
font-size: 70px;
font-weight: bold;
color: white;
}

nav {
  color: white;
  font-size: 18px;
  text-decoration: underline;
  line-height: 1.9;
}

.top {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-position: center;
  max-width: 100%;
  max-height: 100%;
}
